$base-background: #dbdede;
$app-items-color: #13bdd2;
$base-font: 'Roboto Condensed', sans-serif;
$dark-background-font-color: #fff;
$light-background-font-color: #000;
$sign-in-section-border-radius: 5px;